<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Dad Joke Generator</title>
		<link rel="stylesheet" href="main.css" />
	</head>
	<body>
		<div id="dad-jokes">
			<div class="header">
				<h1>{{header || 'Welcome'}}</h1>
				<button v-if="editing" @click="doEdit(false)" class="btn btn-cancel">
					Cancel
				</button>
				<button v-else @click="doEdit(true)" class="btn btn-primary">
					Add Joke
				</button>
			</div>
			<div v-if="editing" class="add-joke-form">
				<input
					@keyup.enter="saveJoke"
					v-model="newJoke"
					type="text"
					placeholder="Add a Dad Joke"
				/>
				<label>
					<input type="checkbox" v-model="newJokeILoveIt" />
					I Love It
				</label>
				<button
					v-bind:disabled="newJoke.length === 0"
					@click="saveJoke"
					class="btn btn-primary"
				>
					Save Joke
				</button>
			</div>
			<span v-if="jokes.length === 0" style="font-size: 100px">&#128577;</span>
			<p v-if="jokes.length === 0">No Dad Jokes Yet :(</p>
			<ul>
				<li
					v-for="(joke, index) in jokes"
					@click="toggleTold(joke)"
					:key="joke.id"
					v-bind:class="{strikeout: joke.told, loved: joke.newJokeILoveIt}"
				>
					{{index+1}}. {{joke.content}}
				</li>
			</ul>
		</div>
		<script src="https://unpkg.com/vue@3"></script>
		<script>
			const dadJokes = Vue.createApp({
				data() {
					return {
						header: "Dad Joke Generator",
						editing: false,
						newJoke: "",
						newJokeILoveIt: false,
						jokes: [
							{
								id: 1,
								content:
									"I used to be a baker, but I couldn't make enough dough.",
								told: true,
								newJokeILoveIt: true,
							},
							{
								id: 2,
								content:
									"Why don't scientists trust atoms? Because they make up everything!",
								told: true,
							},
							{
								id: 3,
								content:
									"Why did the scarecrow win an award? Because he was outstanding in his field!",
								told: false,
							},
						],
					};
				},

				methods: {
					saveJoke() {
						this.jokes.push({
							id: this.jokes.length + 1,
							content: this.newJoke,
							newJokeILoveIt: this.newJokeILoveIt,
						});
						this.newJoke = "";
						this.newJokeILoveIt = "";
					},
					doEdit(editing) {
						this.editing = editing;
						this.newJoke = "";
						this.newJokeILoveIt = "";
					},
					toggleTold(joke) {
						joke.told = !joke.told;
					},
				},
			}).mount("#dad-jokes");
		</script>
	</body>
</html>
